.left-button {
    display: none;
}

.right-button {
    display: none;
}

.carousel {
    overflow: hidden;
  }
  
  .inner {
    white-space: nowrap;
    transition: transform 0.3s;
  }

.carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  @media(min-width: 768px){
    .carousel {
        overflow: hidden;
      }
      
      .inner {
        white-space: nowrap;
        transition: transform 0.3s;
      }
    
    .carousel-item {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        /* height: 90vh; */
        /* width: 100vw; */
        /* background-color: green; */
        /* color: #fff; */
      }
    
      .indicators {
        position:absolute;
        top: 50vh;
      }
      
      .button-size{
          height: 5vh;
          width: 5vh;
      }

      .left-button{
          /* display: block; */
          position: absolute;
          left: 0.5vw;
          background-color: transparent;
          display: block;
        border: none;
        color:black;
      }

      .right-button{
        position: absolute;
        left: 95vw;
        background-color: transparent;
          display: block;
        border: none;
        color:black;
    }
      
    .left-button button:hover {
          background-color: whitesmoke;
      }
      
      /* .right-button button {
        background-color: transparent;
        display: block;
      border: none;
      color:white;
    }  */
    
    }